scipy==1.5.4
torchvision==0.8.2+cu110
numpy==1.19.4
open3d==0.10.0.0
matplotlib==3.3.3
coloredlogs==15.0
nibabel==3.2.1
easydict==1.9
h5py==3.1.0
tqdm==4.38.0
GitPython==3.1.14
kernels==0.0.0
MinkowskiEngine==0.5.1
PyYAML==5.4.1
scikit_learn==0.24.1
tensorboardX==2.1
vtk_visualizer==0.9.6
